
/*----------------- Main Layout ------------------*/

/* A CSS Grid example using "grid-template-areas"
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
*/
main {
	background-color: #ebe8e0;
  
  width: 1000px;
  height: 1000px;
}
.grid-container.titolo {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.item {
	border: 3px solid #ae2534;
	padding: 5px;
	text-align: center;
}

/* Imposta il secondo elemento nella stessa cella del terzo elemento */
.item.row2 {
	grid-row: span 2; /* Occupa due righe */
}
.item.row3 {
	grid-row: span 3; /* Occupa due righe */
}
.grid-container.attrib{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}
.grid-container.general{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
.grid-container.down{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}
.grid-container.foot{
	display: grid;
	grid-gap: 4px;
  grid-template-columns: 160px 1fr 1fr 1fr;
  grid-template-rows: 256px 1fr 1fr 1fr 20px;
}



/*----------------- GENERAL CSS ------------------*/

img.header {
	width: 400px ;
}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.f-center {
  align-items: center;
  justify-content: center;
}


/*----------------- Text & Input styling -----------------*/

@import url("https://fonts.googleapis.com/css?family=Lexend&display=swap");


/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
  font-family: "Lexend";
}

.charsheet h3{
  text-align: center;
}
.charsheet label{
  margin: 3px;
  padding: 3px;
}

.charsheet input[type="text"], input[type="number"]{
  margin: 2px 4px;
  width: fit-content; 
}

.charsheet textarea {
	width: fit-content; 
  height: fit-content;
}
.charsheet select{
	width: fit-content; 
}

/*------------- Section-specific CSS -------------*/

.power .repcontainer[data-groupname="repeating_power"]{
	padding-bottom: 0.2em;
  }
  
  .power .repcontainer[data-groupname="repeating_power"] .repitem{
	margin: 4px 0px;
  }